<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/tweetCrawler.log"
                     filePattern="logs/$${date:yyyy-MM}/tweetCrawler-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" compressionLevel="0"/>
        </RollingFile>

        <RollingRandomAccessFile name="LogstashLog" fileName="logs/forLogstash.log"
                     filePattern="logs/$${date:yyyy-MM}/forLogstash-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="0"/>

        </RollingRandomAccessFile>

        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
        
        <!--
        <Socket name="Socket" host="localhost" port="9500">
            <SerializedLayout />
        </Socket>
        -->
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Stdout" level="info" />
            <AppenderRef ref="RollingFile" level="debug" />
            <AppenderRef ref="LogstashLog" level="debug" />
            <!-- <AppenderRef ref="Socket" level="debug" /> -->
        </Root>
    </Loggers>
</Configuration>